*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #fff;
}

.social-media {
  display: flex;
}

.social-media a {
  margin-right: .5rem;
  padding: .3rem .5rem;
  cursor: pointer;
}

.social-media a:hover {
  opacity: .7;
}

.social-media > a img {
  width: 1.5rem;
}

.new-quote-btn {
  padding: .6rem 1.5rem;
  background: #345ca5;
  color: #fff;
  font-size: .9rem;
  font-weight: 200;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-quote-btn:hover {
  opacity: 0.9;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.quote-container {
  background: #e8eef0;
  width: 40rem;
  min-height: 10rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 6px;
}

.title {
  margin-bottom: 32px;
  text-align: center;
}

.quote {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}